*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
.htaccess

# wp-content folder
/wp-content/ai1wm-backups/
/wp-content/index.php
/wp-content/mu-plugins/
/wp-content/mysql.sql
/wp-content/plugins/
/wp-content/themes/index.php
/wp-content/upgrade/
/wp-content/uploads/


# WP Core
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin/
/wp-includes/


# Project specific
/wp-content/themes/aloha/.DS_Store
/wp-content/themes/aloha/node_modules/



# Various file types
*.hqx
*.bin
*.exe
*.dll
*.deb
*.dmg
*.iso
*.img
*.msi
*.msp
*.msm
*.mid
*.midi
*.kar
*.mp3
*.ogg
*.m4a
*.ra
*.3gpp
*.3gp
*.mp4
*.mpeg
*.mpg
*.mov
*.webm
*.flv
*.m4v
*.mng
*.asx
*.asf
*.wmv
*.avi
